h1 {
    color: #ffffff;
}

body {
    background-color: black;
}

h2{
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

h5 a {
    color: #ffffff;
}

html{
    background-color: black;
}

p a{
    color: green;
}

p {
    text-align: center;
}
